html, body {
  width: 100%;
  height: 100%;
}

.line {
  cursor: crosshair;
  position: absolute;
  z-index: 2;
}

#verticalLine {
  border-left: 2px dotted rgba(255, 255, 255, 0.6);
}

#horizontalLine {
  border-bottom: 2px dotted rgba(255, 255, 255, 0.6);
}

#App {
  position: relative;
  width: 100%;
  height: 100%;
}

#LabelViewContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
}

#Middle {
  position: relative;
  width: 750px;
  height: auto;
  margin: 0 auto;

}

#LabelView {
  float: left;
  position: relative;
  cursor: crosshair;
  top: 15%;
  /*left: 25%;*/
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.BoundingBox {
  cursor: crosshair;
  position: absolute;
  border: 2px solid rgba(255, 51, 0, 0.8);
  z-index: 4;
}

.DeleteBoxButton {
  cursor: default;
  text-align: center;
  line-height: 14px;
  font-size: 10px;
  position: absolute;
  color: white;
  top: -7px;
  right: -7px;
  height: 14px;
  width: 14px;
  background-color: grey;
  border-radius: 9px;
  border: 2px solid white;
  z-index: 5;
}

.unselectable {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#BoundingBoxes {
  position: absolute;
  cursor: crosshair;
  width: 100%;
  height: 100%;
  /*border: 1px solid rgba(0, 100, 200, 0.64);
  #z-index: 9999;*/
}

#LabelViewImg {
  display: block;
  cursor: crosshair;
  position: relative;
  width: 100%;
  height: auto;
}

.Instruction {
  background-color: black;
  color: white;
  height: 100px;
}

#Header p {
  padding-top: 15px;
  margin: 0px;
  font-size: 20px;
  line-height: 20px;
}

#Header {
  position: relative;
  /*left: 50%;*/
  /*width: 750px;*/
  text-align: center;
  /*height: 50px;*/
  margin: 0 auto;
  color: #232426;
}

#Crosshair {
  position: absolute;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0, 128, 0, 0.5);*/
  z-index: 3;
}

#SidePanel {
  float: right;
  position: relative;
  padding: 10px;
  width: 230px;
  height: 100%;
}

#InfoPanel table {
  margin-left: 10px;
}

#InfoPanel td {
  padding: 10px;
}

.KeyboardKey {
  border: 2px solid #d1d4d6;
  background-color: #dee0e2;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 40px;
}

#Submit {
  position: relative;
  /*top: 20px;*/
}

#Submit form {
  text-align: center;
  /*width: 100%;*/
}

#submitButton {
  cursor: pointer;
  position: relative;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  /*padding: 15px 32px;*/
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 190px;
  border-radius: 5px;
}

#submitButton:hover {
  background-color: #3a823d;
}