.App {
  text-align: center;
}

html, body, div {
  width: 100%;
  height: 100%;
}

#AppContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

#LabelViewContainer {
  cursor: crosshair;
  position: relative;
  width: 100%;
  height: 100%;
}

#LabelView {
  position: relative;
  top: 10%;
  left: 25%;
  width: 750px;
  height: auto;
}

.BoundingBox {
  position: absolute;
  border: 3px dotted rgb(199, 25, 9);
  z-index: 999;
}

#BoundingBoxes {
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /*border: 1px solid rgba(0, 100, 200, 0.64);
  #z-index: 9999;*/
}

#LabelViewImg {
  position: relative;
  width: 100%;
  height: auto;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.Instruction {
  background-color: black;
  color: white;
  height: 100px;
}

#Header p {
  padding: 15px;
  margin: 0px;
  font-size: 25px;
  line-height: 30px;
}

#Header {
  position: absolute;
  left: 25%;
  width: 750px;
  text-align: center;
  height: 50px;
  /*background-color: #999;*/
  color: black;
}

#Submit {
  position: relative;
  top: 20px;
}

#Submit form {
  text-align: center;
  width: 100%;
}

#submitButton {
  position: relative;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  z-index: 10000;
}

#submitButton:hover {
  background-color: #3a823d;
}
