.App {
  text-align: center;
}

#AppContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.LabelView {
  position: relative;
  width: 500px;
  height: 500px;
  
}

.BoundingBox {
  position: absolute;
  border: 2px solid rgba(199, 25, 9, 0.64);
  z-index: 999;
}

#BoundingBoxes {
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /*border: 1px solid rgba(0, 100, 200, 0.64);
  #z-index: 9999;*/
}

#LabelViewImg {
  position: absolute;
  width: auto;
  height: 100%;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.Instruction {
  background-color: black;
  color: white;
  height: 100px;
}

.Header p {
  padding: 15px;
  margin: 0px;
}

.Header {
  height: 50px;
  background-color: #999;
  color: black;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
