.App {
  text-align: center;
}

.ImageToLabel {
  width: auto;
  height: 500px;
  user-drag: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.Instruction {
  background-color: black;
  color: white;
  height: 100px;
}

.Header p {
  padding: 15px;
  margin: 0px;
}

.Header {
  height: 50px;
  background-color: #999;
  color: black;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
